# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.idea/
.android/
.ios/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.swp
